.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding: 0.5rem 60px;
}
.card .card-heading {
  position: relative;
  background-color: inherit;
  border-bottom: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}

a{
  color: black;
}
a:hover{color:blue;}
nav{
  background-color: #26b1bf;
}
.page-footer {
  padding-top: 20px;
  background-color: #26b1bf;
  
}