/* # Genesis Sample Child Theme
Theme Name: Design Bombs
Theme URI: http://my.studiopress.com/themes/genesis/
Description: This is the sample theme created for the Genesis Framework.
Author: StudioPress
Author URI: http://www.studiopress.com/
Template: genesis
Template Version: 2.2.2

*/

/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%;float:right}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ## Box Sizing
--------------------------------------------- */

html, input[type="search"]{-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*, *:before, *:after {box-sizing: inherit;}

.author-box:before, .clearfix:before, .entry:before, .entry-content:before, .footer-widgets:before, .nav-primary:before, .nav-secondary:before, .pagination:before, .site-container:before, .site-footer:before, .site-header:before, .site-inner:before, .wrap:before {content: " ";display: table;}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {font-size: 62.5%; /* 10px browser default */}

/* Chrome fix */
body > div {font-size: 1.6rem;}
body {background-color: #fff;color: #424242;font-family: "proxima-nova", sans-serif;font-size: 1.6rem;font-weight: 300;line-height: 1.625;margin: 0;}
a, button, input:focus, input[type="button"], input[type="reset"],
input[type="submit"], textarea:focus, .button, .gallery img {-webkit-transition: all 0.1s ease-in-out;-moz-transition:    all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}

a {text-decoration:none;color: #FE6935;}
a:hover, a:focus {color: #FE6935;text-decoration: none;}
p {margin: 0 0 28px;padding: 0;}
ol, ul {margin: 0;padding: 0;}
li {list-style-type: none;}
hr {border: 0;border-collapse: collapse;border-top: 1px solid #ddd;clear: both;margin: 1em 0;}
b, strong {font-weight: 700;}

blockquote, cite, em, i {font-style: italic;}
blockquote {margin: 40px;}

/* ## Headings
--------------------------------------------- */
h1, h2, h3, h4, h5, h6 {color: #333; font-family: "futura-pt", sans-serif;font-weight: 400;line-height: 1.2;margin: 0 0 10px;}
h1 {font-size: 36px;font-size: 3.6rem;}
h2 {font-size: 30px;font-size: 3rem;}
h3 {font-size: 24px;font-size: 2.4rem;}
h4 {font-size: 20px;font-size: 2rem;}
h5 {font-size: 18px;font-size: 1.8rem;}
h6 {font-size: 16px;font-size: 1.6rem;}

/* ## Objects
--------------------------------------------- */
embed, iframe, img, object, video, .wp-caption {max-width: 100%;}
img {height: auto;}
.featured-content img, .gallery img {width: auto;}

/* ## Forms
--------------------------------------------- */

input, select, textarea {background-color: #fff;border: 1px solid #d2d2d2;color: #333;font-size: 18px;font-size: 1.8rem;font-weight: 300;padding: 16px;width: 100%; }
input:focus, textarea:focus {border: 1px solid #999;outline: none;}
input[type="checkbox"], input[type="image"], input[type="radio"] {width: auto;}

::-moz-placeholder {color: #333;font-weight: 300;opacity: 1;}
::-webkit-input-placeholder {color: #333;font-weight: 300;}

button, input[type="button"], input[type="reset"],
input[type="submit"], .button {background-color: #333;border: 0;color: #fff;cursor: pointer;font-size: 16px;font-size: 1.6rem;font-weight: 300;padding: 16px 24px;text-transform: uppercase;width: auto;}

button:hover, input:hover[type="button"], input:hover[type="reset"], input:hover[type="submit"], .button:hover, button:focus,
input:focus[type="button"], input:focus[type="reset"], input:focus[type="submit"], .button:focus  {background-color: #c3251d;color: #fff;}

.entry-content .button:hover, .entry-content .button:focus {color: #fff;}
.button {display: inline-block;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button {display: none;}

/* ## Tables
--------------------------------------------- */
table {border-collapse: collapse;border-spacing: 0;line-height: 2;margin-bottom: 40px;width: 100%;border:1px solid #DDD;}
tbody {border: 1px solid #ddd;}
td, th {text-align: left;}
td {border: 1px solid #ddd;padding: 6px 12px;}
th {font-weight: 400;border:1px solid #ddd;padding: 6px 12px;}

/* Custom Tables */
.tableizer-table {border: 1px solid #CCC;width: 100%;font-size:16px;}
.tableizer-table td {padding: 5px 12px;line-height: 22px;margin: 3px;border: 1px solid #ccc;text-align: left;}
.tableizer-table th {background-color: #3180ae;color: #FFF;font-weight: bold;text-align: left;line-height: 22px;padding: 10px;}
table {max-width: 100%;background-color: transparent;border-collapse: collapse;}
table tr {border-bottom: 1px solid #ddd;}
table td {border: 1px solid #ddd;}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text, .screen-reader-text span, .screen-reader-shortcut {position: absolute !important;clip: rect(0, 0, 0, 0);height: 1px;width: 1px;border: 0;overflow: hidden;}

.screen-reader-text:focus, .screen-reader-shortcut:focus, .genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {clip: auto !important;height: auto;width: auto;display: block;font-size: 1em;font-weight: bold;padding: 15px 23px 14px;color: #333;background: #fff;z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);}
.more-link {position: relative;}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
.site-inner, .wrap {margin: 0 auto;max-width: 1024px;}
.site-inner {clear: both;padding-top: 40px;}

/* ### Content */
.content {background: #fff;float: right;width: 71.5%;}
.content-sidebar-wrap {overflow: hidden;background:#EDF1F3;}
.content-sidebar .content, .content-sidebar-sidebar .content, .sidebar-content-sidebar .content {float: left;}
.content-sidebar-sidebar .content, .sidebar-content-sidebar .content, .sidebar-sidebar-content .content {width: 580px;}
.single .content {padding-right:36px}
.full-width-content .content {width: 100%;padding-right:0;}

/* ### Primary Sidebar */

.sidebar-primary {float: right;width: 28.5%;border:2px solid #EDF1F3;padding:15px;}
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {float: left;}
.sidebar section:last-child {border-bottom:0}

/* ### Secondary Sidebar */
.sidebar-secondary {float: left;width: 180px;}
.content-sidebar-sidebar .sidebar-secondary {float: right;}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third, .two-sixths {width: 31.623931623931625%;}

.four-sixths, .two-thirds {width: 65.81196581196582%;}
.one-fourth {width: 23.076923076923077%;}
.three-fourths {width: 74.35897435897436%;}
.one-sixth {width: 14.52991452991453%;}
.five-sixths {width: 82.90598290598291%;}
.first {clear: both;margin-left: 0;}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */
.avatar {float: left;}
.alignleft .avatar, .author-box .avatar {margin-right: 24px;}
.alignright .avatar {margin-left: 24px;}
.comment .avatar {margin: 0 20px 24px 0;border-radius:50%; }
.comment .avatar:hover {border-radius:0}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {margin-bottom: 20px;}
.author-avatar {float: left}
.author-avatar img {margin-bottom: 10px}
.author-avatar span {color: #616161;margin-right: 15px}
.author-avatar span .fa {color: inherit;font-size: 14px}
.archive-description {font-size: 16px;margin-bottom: 40px;border-top: 1px solid #DDD;border-bottom: 1px solid #ddd;padding: 25px 0;margin-right: 38px;}
.archive-description p {font-size: 16px;line-height: 23px;font-family: "futura-pt", sans-serif;}
.author-box {border:3px solid #e9f1f2; border-radius:3px;padding:30px;margin-bottom:14.5px;width:100%}
.author-box h4 {color: #424242;font-size: 14px;text-transform: uppercase;font-weight: 700;letter-spacing:1px;}
.author-box h4 a {color: inherit}
.author-box-title {font-size: 16px;margin-bottom: 9px;}
.archive-description p:last-child, .author-box p:last-child {margin-bottom: 0;line-height: 24px;}
.author-box .avatar {width:52px;border-radius:1px;}
.sd-social-icon .sd-content ul li[class*="share-"] a {border-radius:2px !important;}

/* ## Search Form
--------------------------------------------- */

.search-form {}
.site-header .search-form {float: right;}
.entry-content .search-form, .site-header .search-form {width:50%; }

.genesis-nav-menu .search input[type="submit"], .widget_search input[type="submit"] {border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;padding: 0;position: absolute;width: 1px;}

/* ## Titles
--------------------------------------------- */
.archive-title {font-size: 20px;font-size: 2rem;background-color: #FFD117;box-shadow: #fff 0 .94em inset;display: inline-block;}
.entry-title {font-size: 21px;font-weight:bold;}
.entry-title a, .sidebar .widget-title a {color: #222;text-decoration:none;}
.entry-title a:hover, .entry-title a:focus {text-decoration:underline;}
.widget-title {font-size: 18px; font-size: 1.8rem;margin-bottom: 20px;}
.footer-widgets .widget-title {color: #fff;}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {display: block;margin: 0 auto;}
a.alignnone {display: inline-block;}
.alignleft {float: left;text-align: left;}
.alignright {float: right;text-align: right;}

a.alignleft, a.alignnone, a.alignright {max-width: 100%;}
img.centered, .aligncenter {display: block;margin: 0 auto 24px;}
img.alignnone, .alignnone {border: 1px solid #ddd;}
img.wp-caption, .wp-caption {border:none;} 

a.alignleft, img.alignleft, .wp-caption.alignleft {margin: 0 24px 24px 0;}
a.alignright, img.alignright, .wp-caption.alignright {margin: 0 0 24px 24px;}
.wp-caption-text {font-size: 14px;font-size: 1.4rem;font-weight: 700;text-align: center;}
.entry-content .wp-audio-shortcode, .entry-content .wp-playlist,.entry-content .wp-video {margin: 0 0 28px;}


/* # Widgets
---------------------------------------------------------------------------------------------------- */
.widget {word-wrap: break-word;}
.widget ol > li {list-style-position: inside;list-style-type: decimal;padding-left: 20px;text-indent: -20px;}
.widget li li {border: 0;margin: 0 0 0 30px;padding: 0;}
div#jp-relatedposts div.jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img {border: 1px solid #dedede;padding: 2px;}
#jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {padding: 12px 3px;}
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {font-weight: 700 !important;}
#wpstats {display: none;}
.genesis-skip-link {margin: 0;}
.genesis-skip-link li {height: 0;width: 0;list-style: none;}
/* Display outline on focus */
:focus {color: #333;outline: #ccc solid 1px;}

/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {background-color: #fff;min-height: 160px;    border-bottom:1px solid rgba(0,0,0,0.1); }
.site-header .wrap {padding: 40px 0;}
#header{max-width:1024px;margin:0 auto;padding:30px 0 20px;overflow:hidden; }
.h-wrap{float:left;}
.wp-kube-box{float:right; }
.header_wpkube_widget{margin-right:40px; }
.header_wpkube_widget:last-child{margin-right:0 }
.header_wpkube_widget,.wpkube-widget img {float:left;}
.nav-menu-wrap{max-width:1024px;margin:0 auto; text-align:center;position:relative; }

.header-social{float:left; }
.header-social ul{list-style:none;}
.header-social li{display:inline-block;}
.header-social a{color: #616161;display: inline-block;font-size: 14px;padding: 15px 8px;}
.header-social a:hover{color:#307bb5; }
.header-search{float:right; }
.header-search .search-form{float: left;}  
.header-search .search-form input[type="search"]{background: #ff0;border:0;text-align:center;display: none;right: 0;padding: 14.5px 10px;position: absolute;right: 0;top: 0;width:100%;z-index: 0;font-family: "futura-pt",sans-serif;font-weight:700}
.header-search .search-form input[type="search"]::-webkit-input-placeholder {font-weight:700}
.header-search .search-form input[type="search"]::-moz-placeholder{font-weight:700;}
.search-form input[type="submit"]{display:none;}
.header-search .search-button{
    color: #2c3644;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 12px 0;
    position:absolute;
    right:0;
    top:0; 
    text-align: center;
    width: 36px;
    z-index:99; 
}
.header-search .search-button .fa-search {font-size:14px}
.header-search .search-button:hover .search-form input{display:block; }
.mobile-only-buttons {
    display:none;
}
.mobile-only-buttons a { color: #222 }
/* ## Subscribe area
--------------------------------------------- */
.subscribe-container{
    max-width:1024px;
    margin:0 auto;
    padding:44px 0 94px; 
}
.subscribe-container h3{
    font-size:38px;
    font-weight:bold;
    margin-bottom:20px;
    color:#fe6935;
    line-height:18px; 
}
.subscribe-container p{
    font-size:17px;
    color:#fff;
    margin-bottom:22px; 
}
.mc-field-group{
    float:left; 
    max-width: 445px;padding: 3px;
background: #fff;
border-radius: 1px;
    width:96%; 
}
.mc-field-group input{
    padding:13px 10px; 
}
.mc-field-group input::-moz-placeholder{font-size:15px;color:#D7D7D7; }
#mc_embed_signup_scroll input[type="submit"]{
    background:#fe6935;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    padding:15px 30px; 
}
.mc-field-group input[type="email"] {float: left;width: 67%; border:none;}
.mc-field-group input[type="submit"] {float: left;width: 33%}
.subscribe_widget {text-align: center;font-size:14.8px;}


.subscribe_widget .mc-field-group {width: 100%}
.subscribe_widget .mc-field-group input[type="email"] {
    background: #f0efef;
    color: #616161;
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%
}
.subscribe_widget #mc_embed_signup_scroll input[type="submit"] {
    width: 100%
}
.subscribe_widget ::-webkit-input-placeholder {
   color: #616161;
}

.subscribe_widget :-moz-placeholder { /* Firefox 18- */
   color: #616161;  
}

.subscribe_widget ::-moz-placeholder {  /* Firefox 19+ */
   color: #616161;  
}

.subscribe_widget :-ms-input-placeholder {  
   color: #616161;  
}

.wp-smiley {width: 14px;}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
	width: 360px;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: 400;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: #333;
}

.header-image .site-title > a {
	background: url(images/logo.png) no-repeat left;
	float: left;
	min-height: 60px;
	width: 100%;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}
/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	color:#898989;
	text-decoration: none;
    font-size:13px;
    text-transform:uppercase; 
	display: block;
	padding:20px;
       font-weight: 700;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu li:hover > a,
.genesis-nav-menu li:hover .sub-menu a
{
	color: #222;
    background:#FFD117; 
}
.genesis-nav-menu li .sub-menu a:hover{
    background:#F3C612; 
}
.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	font-size: 13px;
	padding: 20px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: #fff;
	float: right;
	list-style-type: none;
	padding: 30px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 10px 0 0;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
}

.site-header .sub-menu .sub-menu {
	margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #fff;
    display:inline-block; 
}

.nav-primary .genesis-nav-menu a {
	color: #616161;
	text-decoration: none;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: #222;
}

.nav-primary .genesis-nav-menu .sub-menu a {
	color: #333;
}

.nav-primary .genesis-nav-menu .sub-menu a:hover,
.nav-primary .genesis-nav-menu .sub-menu a:focus,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #222;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: #fff;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {margin-bottom: 30px;}
.single .entry {margin-bottom: 0;}
.content .entry {background-color: #fff; }
.blog .content .type-post, .search .content .type-post, 
.archive .content .type-post, .archive .content .type-freebies {display:inline-block;width:50%;padding-right:40px;padding-bottom:23px;vertical-align:top;}

.search .content .type-deals {width: 100% }
.search .content .type-deals .entry-image-link {display: inline-block;width: 50%;float: left;}
.search .content .type-deals .entry-content {width: 50%;display: inline-block;margin-top: 0px;padding-right: 40px;}

.entry-header img {margin-bottom: 10px}
.home .entry-header img:hover {opacity: .6}
.entry-header p {margin-bottom:13px;}

.single .entry-header img{margin-bottom:16px; }
.social-links { font-family:"futura-pt", Arial;}
.single .social-links .fa-share-alt { padding-left: 0 }
.single .entry-title {padding-bottom: 15px;font-size:3rem;}
.blog .entry-content p, .archive .entry-content p {font-size: 14.4px;color: #414141;margin: 16px 0;}
.entry-content h2 {font-weight: 700;}
.entry-content h3 {margin-bottom: 27px;}
.entry-content h2 .post-stitle, .entry-content h3 .post-stitle {color: #B5B9BD;}
.single .entry-content h2 {margin-bottom:28px;}
.single .entry-content p {font-size: 16.6px;margin: 0px 0px 30.1px;line-height:28.1px;padding: 0;}
.postid-13449 .entry-content p, .postid-19933 .entry-content p, .postid-20008 .entry-content p, .postid-21465 .entry-content p {font-size:18px;}
.entry-content p a {border-bottom: 1px solid #ddd;}
.entry-content p a:hover {border-color: #FE6935;}
.entry-content a img {display:block;}
.entry-content img.centered, .aligncenter {padding: 3px;border: 1px solid #EEE;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.03);}

.read-more {font-size: 0.75em;border-bottom:0 !important;font-weight: bold;margin-top:13px; display: inline-block;text-transform: uppercase;}

.wp-btn, .wp-btn:focus, span.collapseomatic {font-weight:600;
color: #FFF;background: #5DC9E4;text-transform: uppercase;padding: 8px 18px;letter-spacing: 1px;border-radius: 3.2px;border: 2.4px solid #5DC9E4 !important;font-size: 14px;display: inline-block;position: relative;margin: 4px 0;}

.wp-btn:hover, span.collapseomatic:hover {text-decoration: none;   background: #FFF;cursor:pointer;color: #2FBEE2;border: 2.4px solid #2FBEE2 !important;}

.wp-hst {border-bottom: 2px solid #FE6935;
    margin-left: 20px;text-transform: uppercase;
    font-weight: 700;font-size: 15px;
}

.entry-content ol, .entry-content ul {margin-bottom: 28px;margin-left: 40px;font-size:16px;}
.entry-content ol > li {list-style-type: decimal;margin: 6px 0;padding:0 3px;}
.entry-content ul > li {list-style-type: square;font-size: 16px;margin-bottom:5px;}
.entry-content blockquote{border-left:4px solid #FE6935;background:#F3F3F3;font-size:17px;font-style:normal;padding:20px 30px;margin-left:0; }
.entry-content blockquote p {margin-bottom: 0 !important;}
.entry-content code {background-color: #e9f7fd;color: #555555;}
.entry-content pre {background: #e9f7fd;padding: 35px 60px;color: #555555;border-radius: 4px}

.aftr-content-newsletter{display:inline-block;margin-bottom:22px;border:3px solid #e9f1f2; border-radius:3px;padding: 30px;border-radius: 3px;margin-top: 6px;width:100%}
.aftr-content-newsletter h3 {text-align: center;margin-bottom:21px;font-size: 19px;font-weight: 700;letter-spacing: -1px;}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {font-size: 1.35rem;
text-transform: capitalize;margin-bottom:10px;
font-family: "futura-pt", sans-serif;
color: #000;}
.post-meta{display: inline-block;position:relative;padding-bottom:10px;width: 100%;font-size:12px;text-transform:uppercase; }
.entry-categories {    display: inline-block;
    text-transform: uppercase;
    background: #9baec8;
    color: #fff;
    padding: 2px 6px;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: Arial;
    border-radius: 2px; }
.post-date{color:#616161;margin-left:20px;  }
.post-date .fa-clock-o{padding-right:5px;font-size:14px; }
.entry-categories a {color:#fff; }
.entry-author {margin-left:9px;}
.entry-author a {color:#000;}
.entry-author a:hover {text-decoration:underline;}

.single p.entry-meta {text-transform:uppercase;}
.single .entry-author {margin-left:0;}
.single .entry-time {margin-left:10px;}
.single .entry-author a {color:#FE6935;}

.social-links .fa{padding-right:10px;font-size:12px;color:#616161; }
.entry-comments-link a{font-size:12px;color:#616161; }
.entry-comments-link a:hover,.entry-comments-link a:hover .fa-comment-o {color:#fe6935; }


/* ## Pagination
--------------------------------------------- */

.pagination {clear: both;margin: 0 38px 60px 0;padding:40px 0;border-top:2px solid #eeeeee; text-align:center; }
.adjacent-entry-pagination {margin-bottom: 0;}
.archive-pagination li {display: inline;}
.pagination-previous, .pagination-next{font-size: 0.75em;font-weight: bold; text-transform: uppercase;width: 45%}
.archive-pagination li a {color: #474747;cursor: pointer;display: inline-block;font-size: 13.5px;font-weight: bold; text-transform: uppercase;padding: 6px 14px;text-decoration: none;}
.archive-pagination li a:hover, .archive-pagination li a:focus, .archive-pagination .active a {background-color:#FFD117;}


.color-bar{ }
.color-bar span{width:9.09%;float:left;height:6px;display:block;}
.yellow{background:#FFD117;}
.orange{background:#FFAA17;}
.pink{background:#F77F63;}
.blue{background:#7BB3D0;}
.violet{background:#7B85D0;}
.green{background:#BBD07B;}

.comment-respond, .entry-comments, .entry-pings {margin-bottom: 40px;}
.comment-respond{margin-bottom:120px;margin-top:15px}
.entry-comments h3, .comment-respond h3{font-size:18px;font-weight:bold;text-transform:uppercase; border-bottom: 3px solid #80D6FF;
padding-bottom: 12px;color: #80D6FF;}
.entry-comments h3 a, .entry-comments h3 a:hover {font-size:18px;color: #80D6FF;}
.comment-author .fn{color: #444;font-size:17px;font-weight:700;text-transform:capitalize; }
.comment-author .fn a { color: inherit }
.author-pic{float:left }
.comment-desc{overflow:hidden; }
.comment-meta{font-size: 14px;font-weight: 700;float:right;text-transform: uppercase;}
.comment-meta a{color: #a7a7a7;}
.comment{border-bottom:1px solid #e9e9e9; }
.comment-header {font-size: 16px;padding-bottom:30px; }
li.comment {}
.comment-content {font-size:16px;clear: both;margin-top: 15px;word-wrap: break-word;}
.comment-content p {margin-bottom: 15px}
.comment-list li {margin-top: 36px;} 
.comment-respond input[type="email"], .comment-respond input[type="text"], .comment-respond input[type="url"] {width: 50%;}
.comment-respond label {display: none;margin-right: 12px;}
.entry-comments .comment-author {margin-bottom: 0;}
.entry-pings .reply {display: none;}
.reply a{color: #fe6935;text-transform:uppercase;font-size:15px; font-weight: 700;}
.children{border-top:1px solid #e9e9e9;}
.children li{padding-left:80px; }
.children li:last-child{border:none; }
.form-allowed-tags {background-color: #f5f5f5;font-size: 16px;padding: 24px;}
.comment-form-author, .comment-form-email{float:left;width:48%;position: relative}
.comment-form-author input, .comment-form-email input{ width:100% !important;position:relative; padding-left: 50px;}
.comment-form-author {margin-right:4%}
.comment-form-url{display: none;}
.form-submit .submit{background:#FE6935;color:#fff;border:2.5px solid #FE6935;font-weight: 700;border-radius:2.4px;}
.form-submit .submit:hover{background:transparent; color:#FE6935;}
.comment-form-comment {float: left;position: relative;width: 100%}
.comment-form-comment textarea {text-indent: 3px}
.comment-form-author:before, .comment-form-email:before, .comment-form-comment:before {display:block;position:absolute; left:18px; top:14px;font-family:'FontAwesome'; z-index: 10}
.comment-form-author:before{content: "\f007";}
.comment-form-email:before{content: "\f0e0";}
.comment-form-comment:before{top:18px;}

.sidebar li {border-bottom: 1px solid #e9e9e9;margin-bottom: 15px;padding-bottom: 15px;line-height:19px; }
.sidebar li a:hover{color:#222}
.sidebar p:last-child, .sidebar ul > li:last-child {margin-bottom: 0; border-bottom:none; }
.sidebar .widget {padding: 27px 30px;border-bottom:2px solid #EDF1F3;background:#fff;}
.widget-title{font-size:18px;text-transform:uppercase;font-weight:bold;}
.popular-posts{display:block; }
.popular-posts .thumbnail{float:left; margin-right:15px; }
.popular-posts a{font-size:14.5px;font-weight:700; }
.cat-item a,.widget_archive a{font-size:13px;font-weight:500; }
.cat-count{background: #ffd117;border-radius: 14px;color: #222;float: right;padding: 2px 0;text-align: center;width: 38px}
.sidebar li a:hover .cat-count{background:#FE6935; color:#fff;}
.site-footer {background-color: #1C1D29;font-size: 16px;font-size: 1.6rem;line-height: 1;padding: 40px 0;text-align: center;}
.site-footer p {margin-bottom: 0;margin-top:5px;}
.site-footer-info{margin-top:10px;margin-bottom:4px;font-family:"futura-pt", sans-serif;}
.site-footer-info span {margin-right:7px;padding-right: 7px;}
.site-footer-info span a {color:#eee;}
.site-footer-info span a:hover {text-decoration:underline;color:#fff;}
.footer-social{margin:23px 0; }
.footer-social ul{list-style:none}
.footer-social li{display:inline-block;}
.footer-social li a{color:#616161;padding:0 22px 0 0;font-size:20px;}
.footer-social li a:hover{color: #fff;}
.copyright{color:#444553;font-size:14px; }
.latest-posts h2{margin-bottom: 30px}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}
    .site-header{
        margin:0 auto;
        width:96%; 
    }
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 67.6%;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}
	.title-area {
		width: 300px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.title-area {
		width: 300px;
	}
    .sidebar-primary{width:32.4%; }
	.footer-widgets-1 {
		margin-right: 30px;
	}
    .subscribe-container{width:100%; padding-left:40px;  }

}

@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 800px;
	}
          .blog .content .entry, .archive .content .entry {padding-right:18px} 
       .blog .content .entry:nth-child(2n), .archive .content .entry:nth-child(2n) {padding-left: 18px;padding-right: 0;}
	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding: 20px 5%;
	}

	.header-image .site-title > a {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.footer-widgets-1 {
		margin-right: 0;
    }
    .quick-links ul{
        padding-left:20px 
    }
    .quick-links .list2{
        padding-left:0; 
    }

}

@media only screen and (max-width: 800px) {

	body {
		background-color: #fff;
		font-size: 16px;
		font-size: 1.6rem;
	}
     
	.site-inner,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
    #header {
        text-align: center
    }
    .h-wrap {
        display: inline-block;
        float: none;
        margin-bottom: 20px
        width: 100%
    }
    .wp-kube-box{display:none;}
    .header-search .search-form input[type="search"] {
        top: -1px;
        z-index: 10
    }
    .single .header-search .search-form input[type="search"] { top: 0 }
    .nav-primary {
        display: none;
        height: 100%;
        overflow-y: auto;
        position:relative;
        padding-top:10px; 
        top:0; 
        z-index:99; 
        width: 100%;
    }
    .genesis-nav-menu .menu-item{
        display:block; 
    }
    .site-header .sub-menu{display:none !important;}
    .mobile-only-buttons{
        float:right;
        display:block;
        position: absolute;
        right: 40px;
        top: 0;
    }
    .entry{margin-bottom:0; }
    .site-header .search-form{margin:0 }
	.archive-description,
	.author-box,
	.comment-respond,
	.entry-comments,
	.entry-pings,
	.sidebar .widget {
		padding: 20px;
	}
    .mobile-only-buttons {
        padding: 12px 3px 
    }
    .header-search .search-button {
        top: 0
    }
	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}
    .site-footer-info,.quick-links{
        width:50%; 
    }
    .latest-posts li{
        width:100%; 
    }
}
@media only screen and (max-width: 600px) {
    .blog .content .entry{
        width:100%;
        margin-right:0 
    }
        .blog .content .entry, .archive .content .entry {padding-right: 0;padding-left:0;}
.blog .content .entry:nth-child(2n), .archive .content .entry:nth-child(2n)  {padding-left:0;}
    .entry-header img{width:100%; }
    .site-footer-info,.quick-links{
        width:50%; 
    }
     
    .latest-posts{
        width:100%;
        padding-top:40px; 
    }
}
@media only screen and (max-width: 480px) {
    .site-footer-info,.quick-links{
        width:100%; 
    }
    .share-button{
        display:none; 
    }
    .quick-links{padding-top:40px; }
    .latest-posts li{
        float:none;
        width:100%; 
    }
}

/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}

/* # Print Styles
---------------------------------------------------------------------------------------------------- */
#testimonials{
    
}
.glossary-banner .container {
    margin: 0 auto;
    padding: 50px 0px 30px;
    max-width: 1024px;
    text-transform: uppercase;
}
.breadcrumb{
    text-transform: uppercase;
    color: #F06436;
    font-size: 12px;
    font-weight: 700;
}

.glossary-banner .breadcrumb span { color: #fff }
.glossary .breadcrumb a {color:#fff;}
.breadcrumb a {
     color: #222;
}
.breadcrumb a:hover {
     color: #FE6935;text-decoration:underline;
}
.breadcrumb span {
    color: #222;
}
.glossary-banner {
    position: relative;
}
.glossary-banner h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.page-template-glossary .content,
.post-type-archive-glossary .content,
.single-glossary .content {
    padding-right: 36px;
}
.page-template-glossary .entry-title,
.post-type-archive-glossary .entry-title {
    margin: 65px 0 0;
    text-transform: uppercase
}
.glossary-items-container {
    border-top: 2px solid #f3f1ed;
    margin: 38px 0 0
}
.entry-content .glossary-items {
    border-bottom: 2px solid #f3f1ed;
    list-style: none;
    margin-bottom: 0;
    margin-left: 40px;
    padding: 55px 0 58px 60px;
    position: relative
}
.glossary-items:before {
    background: #f3f1ed;
    position: absolute;
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0
}
.glossary-items:after {
    background: #6f6f6f;
    position: absolute;
    content: '';
    display: block;
    width: 55px;
    height: 55px;
    left: -26px;
    top: 45px;
    border-radius: 100%;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}
.glossary-items:hover:after { background: #fe6935 }
.glossary-a:after { content: "A" }
.glossary-b:after { content: "B" }
.glossary-c:after { content: "c" }
.glossary-d:after { content: "d" }
.glossary-e:after { content: "e" }
.glossary-f:after { content: "f" }
.glossary-g:after { content: "g" }
.glossary-h:after { content: "h" }
.glossary-i:after { content: "i" }
.glossary-j:after { content: "j" }
.glossary-k:after { content: "k" }
.glossary-l:after { content: "l" }
.glossary-m:after { content: "m" }
.glossary-n:after { content: "n" }
.glossary-o:after { content: "o" }
.glossary-p:after { content: "p" }
.glossary-q:after { content: "q" }
.glossary-r:after { content: "r" }
.glossary-s:after { content: "s" }
.glossary-t:after { content: "t" }
.glossary-u:after { content: "u" }
.glossary-v:after { content: "v" }
.glossary-w:after { content: "w" }
.glossary-x:after { content: "x" }
.glossary-y:after { content: "y" }
.glossary-z:after { content: "z" }
.entry-content .glossary-items li {
    display: inline-block;
    list-style-type: none;
    margin: 0 2% 0 0;
    width: 31%;
}
.glossary-title {
    font-weight: 400;
    padding-left: 16px;
    position: relative;
}
.glossary-title:before{
    position: absolute;
    content: '\f105';
    color: #616161;
    left: 0;
    font-family: 'FontAwesome';
    top: -1px
}
.glossary-title a {
    color: #616161;
}
.glossary-title h3{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #616161;
    text-transform: capitalize;
}
    
    
		.thm-rd {
			border-bottom: 2px solid #DDD;
			padding: 40px 0;
		}
		.thm-rd h2 {
			position: relative;
			font: bold 16px Georgia;
			padding: 4px 0 10px 0;
		}
		.thm-rd h2 .count {
			
			position: absolute;
			left: -6px;
			top: -15px;
			font: bold 23px/1 Sans-Serif;
    			border-radius: 100px;
    			border: 5px solid #DDD;
    			width: 70px;text-align: center;
    			height: 70px;
    			padding: 20px;
    			z-index: -1;
    			line-height: 20px;
    			color: #DDD;
		}
		.thm-rd dd {
			margin: 0 0 50px 0;
		}	
		.thm-rd h2, .thm-rd h3, .thm-rd p {
			padding-left: 50px !important;
		}
                .thm-rd h2 {font-size: 30px;z-index: 1;margin-bottom:7px !important;}
                .thm-rd p {
			font-size: 16.11px !important;
			line-height: 26.1px !important;
		}
                .thm-rd ul {margin-left:70px;}

.thm-rd .alignright {border: 3px solid #DDD; margin-left: 50px;}
.thm-rd .alignright:hover {border-color:#1796c6; cursor: pointer; }



.thm-rd-discount { display: inline-block;
margin-top: -3px;
float: right; }

.thm-rd-discount a {
	color:#1796c6;
	padding: 2px 10px;
	font-size: 13.5px;
	border-radius: 3px;
	margin-left: 10px;
	text-transform: uppercase;	
	border:2px solid #1796c6;font-family: proxima-nova;
}

.thm-rd-discount a:hover {color:#fff; background: #1796c6;}
.full-width-content .content-sidebar-wrap {overflow:visible;}

.thm-rd-related {padding: 22px 40px 0px;margin-bottom:20px;border-bottom: 2px solid #DDD;display: inline-block;width: 100%;font-size: 16px;opacity:.59; transition: opacity .59s ease-in-out;
   -moz-transition: opacity .59s ease-in-out;
   -webkit-transition: opacity .59s ease-in-out;}
.thm-rd-related:hover {opacity:1;}
.thm-rd-related a {margin-bottom:12px;}
.thm-rd-related h4 {text-align: center;font-weight: 700;padding-bottom:20px;}
.thm-rd-related .theme {display: inline-block;width: 30%;margin-right:5%;}
.thm-rd-related .theme:nth-child(3) {margin-right:0;}
.thm-rd-related img {float: left;margin-right:15px;}
.plg-round {float: left;margin: 0px -9px 30px 0px;border-radius: 50px;padding: 22px;line-height: 10px;color: #111;border: 3px solid #ddd;opacity: 0.5;font-weight:700;}

.post-share-buttons {
    width : 51px;border:1px solid #f7f7f7;
    text-align : center;
    position : fixed;
    top : 290px;
    left : auto;
    z-index : 15;
    margin: 0 0px 0 -85px;
}

.post-share-buttons.hide {display:none;}
.share-button a { display: block;font-size: 15px;color:#232323;padding: 10px 0}
.fb-button a {border:1px solid #39579A;border-bottom:none}
.fb-button:hover a:hover {background: #39579A;color:#fff;}
.twitter-button a {border:1px solid #1DA8E2;border-bottom:none;}
.twitter-button a:hover {background: #1DA8E2;color:#fff;}
.linkedin-button a {border:1px solid #007BB6;}
.linkedin-button a:hover {background: #007BB6;color:#fff;}

.wixi {border-bottom: 5px solid rgb(255, 209, 23);display: inline;}
.col100 {width:100%;display:inline-block;}
.col25 {float:left; width: 25%}
.col60 {float:right;width:73%;text-align:left;} 

.postid-18442 .single .entry-header img {display:none}

.host-box-full {display: block;width: 611px;margin:0 auto; }
.host-box-full h2 {text-align: center;border-bottom: 3px solid #DDD;display: inline-block;margin-bottom: 0 !important;}
.host-box {display: inline-block;background: #f5f5f5;padding: 10px 20px;margin-right: 16px;}
.host-box3 {margin-right:0 !important;}
.host-box .left {float: left;font-size: 37px;padding-right: 20px;}
.host-box .right {float: left;display: block;margin-top: 4px;}
.host-box .right strong {display:block;}
.host-box .right .fa {font-size: 20px;color:#FFD117;}
.host-box-full .wp-btn {font-size: 17px;font-weight: bold;text-align: center;margin-bottom: 30px;display:block;padding:17px;margin-top: 7px;}

.post-navigation h4 {font-weight:700;text-align:center;}
.post-navigation a {text-transform: uppercase;font-size: 11.5px;color: #222;letter-spacing: 1px;padding: 7px 10px;background: #f5f5f5;margin-bottom: 15px;display: inline-block;margin-left: 5px;margin-top: 5px;border-bottom:0 !important;}

#snippet-box {background:transparent !important;border: 2.51px solid #f2f2f2 !important;width: 100% !important;padding-bottom:15px;padding-top:15px;}
#snippet-box .snippet-title {border-bottom:0 !important; background:transparent !important;text-align:center;text-transform: uppercase;letter-spacing: 1px;}
#snippet-box .snippet-label {clear:none !important;width:16% !important;}
.snippet-data {width: 23.5% !important;}

.related_box_cnt {margin-bottom: 30px; padding: 18px; display: inline-block; position: relative; border-bottom: 1px solid #DDD; background: #f2f2f2; border-top: 1px solid #DDD;}
.related_box_cnt_image img {width: 150px; float: left; margin-right: 20px;}
.related_box_cnt_summary {display: block;}
.related_box_cnt h4 {font-weight: 700;}
.related_box_cnt .description { margin-bottom: 0px !important;line-height: 23px !important;font-size: 15px !important;}
.related_box_cnt .categry {display: block;margin-bottom: 0px;font-size: 12px;text-transform: uppercase;font-weight: 700;margin-top:6px}

.postid-20008 .content .entry, .postid-21465 .content .entry {width: 66%;margin: 0 auto;}